{% extends "base.html" %} {% load crispy_forms_tags %} {% load static%} 
{% block content %}

<!-- displaying Django messages -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% for message in messages %}
      <div
        class="alert {{ message.tags }} alert-dismissible
          fade show"
        id="msg"
        role="alert"
      >
        {{ message | safe }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="containerd  work-with-us-container">
  <!-- form for request to work with us -->
  <div class="work-with-us-form-container">
    <form method="POST" enctype="multipart/form-data" class="p-5">
      {% csrf_token%} {{ work_with_us_form|crispy }}
      <button type="submit" class="btn btn-success mt-3">
        Join to the family
      </button>
    </form>
  </div>

  <!-- info about the procces -->
  <div class="work-with-us-info-container">
    <h3 class="text-center work-with-us-title">How it works</h3>
    <div class="work-with-us-info p-5">
      <p>
        First of all, thank you for considering being part of the MindWell
        family. Our intention is to connect people who need help from a
        professional therapist and to facilitate their search.
      </p>
      <p>
        We recommend that you be specific in your specialty, it will help you
        get clients suitable for your abilities.
      </p>
      <span class="fw-lighter">we will contact you in less than 24 hours</span>

      <ul class="mt-5">
        <li><span class="check-icon">&check;</span>Fill the form.</li>
        <li>
          <span class="check-icon">&check;</span>Remember a suitable photo can
          help a lot.
        </li>
        <li>
          <span class="check-icon">&check;</span>don't forget to be able to your
          availability.
        </li>

        <li class="ms-5">You can use the nex format.</li>

        <li class="ms-5">monday 9:00 am to 17:00 pm</li>

        <li><span class="check-icon">&check;</span>Set your price by hour</li>
        <li><span class="check-icon">&check;</span>
          if you have other packages you can add them to your bio
          </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
