{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container card-login login-main-container mt-5">
  <div class="row mb-3">
    <div class="col">
      <h3 class="text-center login-title">{% trans "Sign Up" %}</h3>
     
    </div>
  </div>
  <div class="row pb-3" >
    <div class="col ">
      <form class="signup " id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success btn-large login-button mt-5">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
    <p class="text-center mt-3">
      {% blocktrans %} 
      Welcome back to the code|star blog.
      Do you already have an account? Then please <a href="{{ login_url }}" class="fw-bold" style="color:var(--primario)">LogIn</a>.
      instead.
      {% endblocktrans %}
    </p>
  </div>
</div>

{% endblock content %}
