{% extends "base.html" %}
{% load static %}
{% block content %}
{% load cloudinary %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- list of therapists-->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for therapist in therapists%}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if therapist.profile_image.url %}
                                <a href="{% url 'therapist_profile' therapist.first_name %}" class="post-link">
                                {% cloudinary therapist.profile_image quality="auto" width=500 height=500 gravity="faces" crop="fill" %}
                                </a>
                                {% else %}
                                <a href="{% url 'therapist_profile' therapist.first_name %}" class="post-link">
                                <img class="card-img-top" src=" {% static 'images/default.jpg' %} "
                                  alt="{{ therapy.first_name}}">
                                </a>
                                {% endif %}
                            </div>
                            <a href="#" class="post-link">
                                <div class="image-flash text-center">
                                    <p class="author">{{ therapist.first_name }}</p>
                                </div>
                            </a>
                          
                                <p class="card-title text-center">{{ therapist.specialization }}</p>
                            

                            <hr />
                            <div class="d-flex justify-content-between">
                                <p class="card-text text-muted h6">{{ therapist.experience_years}} years</p>
                                <p class=" text-muted h6">{{ therapist.location}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4%}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}Copyright 2023 Matt Rudge{% endblock %}