{% extends "base.html" %} {% load static %} {% block content %} 
{% load cloudinary %}
{% load crispy_forms_tags %}

<div class="container mt-5">
  <div class="row">
   <!-- therapist image and basic info -->
    <div class="col-md-4">
            <div class="card border round-2 shadow p-5 mb-3">
                
                    {% cloudinary therapist.profile_image quality="auto" loading="lazy" width=500 height=500 gravity="faces" crop="fill" alt="Therapist photo" class="img-thumbali rounded-circle mb-5 img-profile " format="webp"%}
                
                <p class="therapist-name ">
                    {{ therapist.first_name }} {{ therapist.last_name }}
                </p>
                <hr>
                <p class="therapist-spc text-center ">
                    {{ therapist.specialization }} 
                </p>
                <div class="d-flex justify-content-between text-center">
                    <span>Years of experiences</span>
                    <span>{{therapist.experience_years }}</span>
                </div>
                <hr>
                <div class="text-center">
                    <span>{{therapist.price}}$/h.</span>
                </div>
                <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#makeappointment">
                    Make and appointment
                  </button>
            </div>
        </div>

    <!-- therapist imfo -->
        <div class="col-md-8">
            <div class="card border round-2 shadow p-5 mb-3">
                <h4>About Me</h4>
                <div class="">
                    <p class="card-text">{{ therapist.bio | safe }}</p>
                </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="makeappointment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primario">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
          <h3 class="modal-title text-center text-primario">Make an appointment</h3>
        </div>
        <form method="POST" enctype="multipart/form-data">
        <div class="modal-body p-5">
          
          {% csrf_token%} 
          {{appointment_form|crispy }}
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Done</button>
          </div>
        </form>
        </div>
      
      </div>
    </div>
  </div>
{% endblock %}



