.work-with-us-container{
    display: flex;
    width: 90%;
    margin: 50px auto 0;
    padding: 20px;
    gap: 20px;
    /* border: 1px solid var(--primario); */

}

.work-with-us-container > div{
    flex: 0 0  calc(50%);
}
.work-with-us-form-container{
    padding: 20px;
    border: 1px solid var(--primario);
    border-radius: 10px;
}

.work-with-us-title{
    color: var(--secundario);
}

@media (max-width : 1200px){
    .work-with-us-container{
         flex-direction:column-reverse; 
    }
    
}
@media (max-width :768px){
    .advices > li{
        font-size: 1.4rem;
    }
}
@media (max-width :480px){
    .work-with-us-container{
        width: 95%;
    }
   
    .advices > li{
        font-size: 1rem;
    }
    .check-icon{
        font-size: 1rem;
    }
    label{
        font-size: small;
    }
   
}
