/*Utilities______________________*/

/*Hero content___________________*/


.hero-container {
  display: flex;
  justify-content: start;
  height: 80vh;
  background-repeat: no-repeat; 
  background-image:url("/static/images/bg-mind3.png");
  background-size: cover;
  background-position: top -30px left;
  
}


.hero-info {
  display: grid;
  align-content: center;
}
.hero-content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}



@media (max-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: start;
    height: 80vh;
    background-image:url("/static/images/bg-mind3.png");
    background-size: 100%;
    background-position: left bottom;
    background-color: var(--primario);
    
  }
  .hero-content-container{
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-image:url("/static/images/fondo1.webp");
    background-size: 60%;
    background-position: top center;
    background-repeat: no-repeat;
  }

}

/*Services Section_____________________*/
.services-section {
  margin-top: 20px;
  text-align: center;
}
.services-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.services-title {
  text-align: center;
  font-size: 3rem;
  color: var(--primario);
}

.services > h3 {
  position: relative;
  text-align: center;
  margin: 20px auto;
  color: var(--secundario);
}
.services > h3::before {
  content: "";
  width: 150px;
  margin: 5px auto 0;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: var(--primario);
}
.services > figure {
  border-radius: 20px;
  max-width: 60%;
  min-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.services > figure > img {
  border-radius: 20px;
}

/*Responsive services section*/

@media (max-width: 1025px) {
  .services-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services-section {
    margin-top: 20px;
  }
  .services-section > span,
  .services-container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .services-container {
    margin-top: 25px;
    padding: 0;
  }
  .services {
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .services-container {
    display: block;
    width: 90%;
  }
  .services {
    margin: 0 auto;
    min-width: 80%;
    margin-bottom: 15px;
  }
  .services > p {
    margin: 0 auto;
    width: 80%;
  }
}

/*Work with us section _________________*/
.work-with-us-section {
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: var(--primario);
}
.work-with-us-section > h3 {
  text-align: center;
  font-size: 3rem;
  padding-top: 25px;
  color: var(--secundario);
}

/* work with us infinity slider*/
.cont-princ-slider {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: 60%;
}

.slier-prin {
  border-radius: 50%;
  display: inline-flex;
  animation: slider 20s infinite linear;
  gap: 20px;
}

.juegos_DWG > img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 150px;
  object-fit: cover;
  flex: 0 0 auto;
  text-align: center;
}

@keyframes slider {
  to {
    transform: translateX(-50%);
  }
}
/*Responsive work with us infinity slider*/

@media (max-width: 768px) {
  .juegos_DWG > img {
    width: 100px;
  }
  .cont-princ-slider {
    width: 80%;
  }
}

/*why us section______________*/

.item {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90%;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
}
.item:hover {
  background: var(--primario);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
  color: var(--secundario);
}
.item .icon {
  color: var(--primario);
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.item:hover > .icon {
  color: var(--secundario);
}

.item > h6 {
  font-size: 1.4rem;
  color: var(--secundario);
}
