{% extends 'base.html'%}
{% block content%}
{% load crispy_forms_tags %}
{% load static %}

<div class="container ">
    <h2 class="text-center my-sm-0  my-lg-5 about-title">Contact us</h2>
    <div class="row flex-c-reverse gap-3" >
    <!-- contact form  -->
        <div class="work-with-us-form-container col ">
            <form method="POST"  class="p-5">
              {% csrf_token%} 
              {{form|crispy }}
              <button type="submit" class="btn btn-orange btn-large mt-3">
                Send
              </button>
            </form>
    <!-- Messages -->
            <div class="container">
                {% for message in messages %}
                <div
                  class="alert alert-{{ message.tags }} alert-dismissible
                    fade show"
                  id="msg"
                  role="alert"
                >
                  {{ message | safe }}
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                {% endfor %}
              </div>
          </div>
     

    <!-- Content Conatac page -->
      <div class="  mb-md-5 col">
        <div class="mt-5 card p-3 text-center">
          <h3 class="my-3">We’re glad to get to know you!</h3>
          <p>
            Welcome to our Contact Page! We value your feedback, inquiries, and suggestions. Whether you have questions about our services, need assistance navigating the platform, or want to provide us with valuable insights, we're here to listen and assist you every step of the way.
          </p>
          <hr style="color:var(--primario); margin:30px 0 ; ">
          <p>
            Please feel free to reach out to us via the contact form below or through the provided contact information. Your communication matters to us, and we strive to respond promptly and professionally to all inquiries. Thank you for choosing our platform as your trusted partner on your journey towards mental wellness.
          </p>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}