{% extends 'base.html'%}
{% block content%}
{% load static %}

<section class="container-fluid hero-container">

    <!-- hero info  -->
  <div class="hero-info">
    <div class="hero-content-container">
      <h1>
        MindWell therapy, we learn to rewrite our stories, reclaim our power,
        and embrace our journey towards healing.
      </h1>
      <p>
        Affordable online therapy. Start your journey towards finding peace and
        well-being.
      </p>
      <a href="{% url 'account_signup' %}" class="btn btn-outline-success">Let's Start</a>
    </div>
  </div>
  <!-- hero images  -->
  <div class="images-main-container">
    <div class="hero-container-images">
      <figure class="hero-images img-front">
        <img
          src="{% static 'images/img3.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
      <figure class="hero-images img-back">
        <img
          src="{% static 'images/img2.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
    </div>
  </div>
</section>
{% endblock %}
{% block services%}

<div class="services-section">
  <h2 class="services-title">Types of Therapy</h2>
  <span class="fw-light " >We provide help in every way, do not hesitate to contact us</span>

  <div class="services-container">

    <div class="services">
        <figure>
            <img src="{% static 'images/services1.jpg'%}" alt="mental health montain" />
        </figure>
      
      <h3>Anxiety and Stress</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore neque
        incidunt ratione in fugiat excepturi maxime ab animi amet, atque fuga,
        accusamus nesciunt id facilis enim ducimus repellat quasi. Distinctio?
      </p>
    </div>
    <div class="services">
        <figure>
            <img src="{% static 'images/services2.jpg'%}" alt="drink probles soltions" />
        </figure>
      <h3>Depression</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore neque
        incidunt ratione in fugiat excepturi maxime ab animi amet, atque fuga,
        accusamus nesciunt id facilis enim ducimus repellat quasi. Distinctio?
      </p>
    </div>
    <div class="services">
        <figure>
            <img src="{% static 'images/services3.jpg'%}" alt="Happy couple" />
        </figure>
      <h3>Relationships</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore neque
        incidunt ratione in fugiat excepturi maxime ab animi amet, atque fuga,
        accusamus nesciunt id facilis enim ducimus repellat quasi. Distinctio?
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block workwithus %}
<div class="work-with-us-section">
    <h3>Are you a Therapits??</h3>
</div>
{% endblock %}



