{% extends 'base.html'%} {% block content%} {% load static %}

<section class="container-fluid hero-container">
  <div class="hero-info">
    <div class="hero-content-container">
      <h1>
        MindWell therapy, we learn to rewrite our stories, reclaim our power,
        and embrace our journey towards healing.
      </h1>
      <p>
        Affordable online therapy. Start your journey towards finding peace and
        well-being.
      </p>
      <button class="btn btn-outline-success">Let's Start</button>
    </div>
  </div>
  <div class="">
    <div class="hero-container-images">
      <figure class="hero-images img-front">
        <img
          src="{% static 'images/img3.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
      <figure class="hero-images img-back">
        <img
          src="{% static 'images/img2.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
    </div>
  </div>
</section>

<div class="services-section">
  <h2>Some Nice title</h2>
  <div class="services-container">
    <div class="services">
      <h3>Services 1</h3>
    </div>
    <div class="services">
      <h3>Services 2</h3>
    </div>
    <div class="services">
      <h3>Services 3</h3>
    </div>
  </div>
</div>

{% endblock%}
