{% extends 'base.html'%}
{% block content%}
{% load static %}
{% load cloudinary %}

<section class="container-fluid hero-container">

    <!-- hero info  -->
  <div class="hero-info">
    <div class="hero-content-container">
      <h1>
        MindWell therapy, we learn to rewrite our stories, reclaim our power,
        and embrace our journey towards healing.
      </h1>
      <p>
        Affordable online therapy. Start your journey towards finding peace and
        well-being.
      </p>
      <a href="{% url 'account_signup' %}" class="btn btn-orange btn-large">Let's Start</a>
    </div>
  </div>
  <!-- hero images  -->
  <div class="images-main-container">
    <div class="hero-container-images">
      <figure class="hero-images img-front">
        <img
          src="{% static 'images/img3.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
      <figure class="hero-images img-back">
        <img
          src="{% static 'images/img2.jpg'%}"
          class=""
          alt="therapy family "
        />
      </figure>
    </div>
  </div>
</section>
{% endblock %}

{% block services%}

<div class="services-section">
  <h2 class="services-title">Types of Therapy</h2>
  <span class="fw-light " >We provide help in every way, do not hesitate to contact us</span>

  <div class="services-container">

    <div class="services">
        <figure>
            <img src="{% static 'images/services1.jpg'%}" alt="mental health montain" />
        </figure>
      
      <h3>Anxiety and Stress</h3>
      <p>
        Stress is any demand placed on your brain or physical body. Any event or scenario that makes you feel frustrated or nervous can trigger it. Anxiety is a feeling of fear, worry, or unease.
      </p>
    </div>
    <div class="services">
        <figure>
            <img src="{% static 'images/services2.jpg'%}" alt="drink probles soltions" />
        </figure>
      <h3>Depression</h3>
      <p>
        Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act. Fortunately, it is also treatable.
      </p>
    </div>
    <div class="services">
        <figure>
            <img src="{% static 'images/services3.jpg'%}" alt="Happy couple" />
        </figure>
      <h3>Relationships</h3>
      <p>
        Relationship therapy is based on providing emotional support and creating an accepting atmosphere that fosters personality growth and elicits attitudes and past experiences for examination and analysis during sessions.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block workwithus %}
<div class="work-with-us-section">
    <h3 class="fs-2">Would you like be part of the family?</h3>

    <p class="text-center mb-5">
      enjoys being part of a growing family. More than 80% of therapists have found potential clients on our page</p>

    <div class="cont-princ-slider mt-5">
      <div class="slier-prin">
        {% for therapist in therapists%}
        <div class="juegos_DWG">
          {% cloudinary therapist.profile_image quality="auto" width=500 height=500 gravity="faces" crop="fill" alt="Therapist photos" %}
         
        </div>
        {% endfor%}
      </div>
    </div>
    <div class="text-center">
      <a href="{%url 'work_with_us'%}" class="btn btn-success btn-large  mt-5"> Join to the family</a>
    </div>

</div>

<script src="{% static  'js/infinity_slider.js' %}"></script>
{% endblock %}


{% block whyus %}
<div class="feat bg-gray pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class=" col-sm-12">
        <h3 class="text-center under_line position-relative mb-5">Why Choose Us?</h3>
        <p class="w-75 mx-auto mb-5 text-center">When you choose us, you'll feel the benefit of 10 years' experience of Web Development. Because we know the digital world and we know that how to handle it. With working knowledge of online, SEO and social media.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-user-group"></i></span>
          <h6>Personalized Matching</h6>
          <p>We match you with therapists based on your unique needs, preferences, and goals for effective and tailored support.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item "> <span class="icon feature_box_col_two"><i class="fa fa-graduation-cap"></i></span>
          <h6>Qualified Professionals</h6>
          <p>Our network comprises licensed therapists who undergo rigorous screening to ensure expertise, professionalism, and compassion.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-calendar"></i></span>
          <h6>Convenience and Accessibility</h6>
          <p>Flexible scheduling, evening and weekend appointments, and various communication channels ensure therapy fits into your busy life seamlessly.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-user-secret"></i></span>
          <h6>Confidential and Secure</h6>
          <p>We prioritize the confidentiality and security of your information with industry-standard encryption and data protection measures.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-hand-fist"></i></span>
          <h6>Empowering You to Thrive</h6>
          <p>Our mission is to empower you to lead a fulfilling life with guidance, encouragement, and resources for holistic well-being.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-dollar"></i></span>
          <h6>Affordable cost</h6>
          <p>Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock whyus %}
